.product-card {
  // height: 600px;
  .card-img-container {
    display: flex;
    justify-content: center;
    .card-img-top {
      height: 350px;
      width: 350px;
      background-size: cover;
    }
  }

  .price-container {
    display: flex;
    justify-content: right;
    padding: 0px 30px;
    .card-price {
      font-size: 35px;
    }
  }
  .btn-buy-container {
    display: flex;
    padding: 16px;
    .btn-buy {
      width: 100%;
    }
  }
}
