$grey-color: rgb(150, 150, 150);
$light-grey-color: rgb(237, 237, 237);

body {
  font-family: "Roboto", sans-serif;
  margin: 0px;
}

.main-header {
  display: flex;
  width: 100%;
  height: 60px;
  text-align: center;
  background-color: $light-grey-color;
  .logo {
    position: absolute;
    width: 60px;
    margin-top: 10px;
    margin-left: 10px;
  }
  .menu-container {
    display: flex;
    margin: auto;

    .menu-item {
      justify-content: space-between;
      margin: auto;
      padding: 0 20px;
      list-style-type: none;
      &:not(:last-child) {
        border-right: 1px solid black;
      }
      .menu-link-item {
        text-decoration: none;
        color: black;
      }
    }
  }
}
