@import "../../constants/constants.scss";
body {
  font-family: "Roboto", sans-serif;
  margin: 0px;
}

.main-header {
  display: flex;
  width: 100%;
  height: 60px;
  text-align: center;
  background-color: $light-grey-color;

  .menu-cart-item {
    display: flex;
    align-items: center;
    margin-right: 30px;
    .cart-icon {
      width: 25px;
      height: 25px;
      &:hover {
        fill: $dark-grey-color;
      }
    }
  }

  .menu-container {
    display: flex;
    margin: auto;

    .menu-item {
      justify-content: space-between;
      margin: auto;
      padding: 0 20px;
      list-style-type: none;
      &:not(:last-child) {
        border-right: 1px solid black;
      }
      .menu-link-item {
        text-decoration: none;
        color: black;
        &:hover {
          color: $dark-grey-color;
        }
      }
    }
  }
}
